salesforce_projet_4/force-app/main/default/flows/Opportunity_is_updated_to_close_won.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_Item_Product2</name>
        <label>Assign Product2</label>
        <locationX>264</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>record_ListProduct2</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>record_Product2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_each_ListItem</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Product2</name>
        <label>Assign Item Product2</label>
        <locationX>264</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>record_Product2.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >For_each_ListItem.Product2.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >record_Product2.QuantityInStock__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >For_each_ListItem.SockAfterSale__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Item_Product2</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>Error_Message</name>
        <label>Error Message</label>
        <locationX>528</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>For_each_ListItem</targetReference>
        </connector>
        <customErrorMessages>
            <errorMessage>{!$Label.Quantity_probleme}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>if_stock_is_enough</name>
        <label>if stock is enough</label>
        <locationX>396</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Error_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>stock ko!</defaultConnectorLabel>
        <rules>
            <name>stock_ok</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >For_each_ListItem.SockAfterSale__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Product2</targetReference>
            </connector>
            <label>stock ok</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel
  >Opportunity is updated to close won {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity is updated to close won</label>
    <loops>
        <name>For_each_ListItem</name>
        <label>For each ListItem</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference
    >Get_All_Opportunities_ListItem</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>if_stock_is_enough</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Product2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Opportunities_ListItem</name>
        <label>Get All Opportunities ListItem</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_each_ListItem</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Product2</name>
        <label>Update Product2</label>
        <locationX>176</locationX>
        <locationY>1031</locationY>
        <inputReference>record_ListProduct2</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_All_Opportunities_ListItem</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CurrentProductID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NewQuantityinStock</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>record_ListProduct2</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>record_Product2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>RessourceProdcutID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>For_each_ListItem.Product2Id</elementReference>
        </value>
    </variables>
</Flow>
